<article id="<%= post.layout %>-<%= post._id %>" class="article article-type-<%= post.layout %>" itemscope itemprop="blogPost">
  <div class="article-inner">
    <%- partial('post/gallery') %>
    <% if ((is_home() || is_archive() || is_category() || is_tag())
      && (post.link || post.title)){ %>
      <header class="article-header">
        <i class="fa fa-file-text-o"></i>
        <%- partial('post/title', {class_name: 'article-title'}) %>
        <%- partial('post/date', {class_name: 'article-date', date_format: null}) %>
      </header>
    <% } %>
    <div class="article-entry" itemprop="articleBody">
      <% if (is_home() || is_archive() || is_category() || is_tag()){ %>
        <% if (post.excerpt && index){ %>
          <!--<%- thumbnail(post.content, 'thumbnail') %>-->
          <%- post_home(post.excerpt) %>
          <% if (theme.excerpt_link){ %>
            <p class="article-more-link">
              <a href="<%- config.root %><%- post.path %>#more"><%= theme.excerpt_link %></a>
            </p>
          <% } %>
        <% } else { %>
          <%- post_home(post.content) %>
        <% } %>
        <footer class="article-footer">
          <a data-url="<%- post.permalink %>" data-id="<%= post._id %>" data_title="<%- post.title %>"
          data_summary="<%- post_summary(strip_html(post.content), 160) %>" class="article-share-link">Share</a>
          <% if (post.comments && config.disqus_shortname){ %>
            <a href="<%- post.permalink %>#disqus_thread" class="article-comment-link">Comments</a>
          <% } %>
          <%- partial('post/category') %>
          <%- partial('post/tag') %>
        </footer>
      <% } else if (is_wiki()){ %>
        <%- post.content %>
      <% } else { %>
        <%- post_toc(post.content) %>
      <% } %>
    </div>
  </div>
</article>
<% if (!index && post.comments && comment){ %>
<!--
<section id="comments">
  <div id="disqus_thread">
    <noscript>Please enable JavaScript to view the <a href="//disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
  </div>
</section>
-->
<section id="comments">
  <!-- 多说评论框 start -->
	<div class="ds-thread" data-thread-key="<%= post._id %>" data-title="<%= post.title %>" data-url="<%= post.permalink %>"></div>
  <!-- 多说评论框 end -->
  <!-- 多说公共JS代码 start (一个网页只需插入一次) -->
  <script type="text/javascript">
  var duoshuoQuery = {short_name:"sumw"};
  	(function() {
  		var ds = document.createElement('script');
  		ds.type = 'text/javascript';ds.async = true;
  		ds.src = (document.location.protocol == 'https:' ? 'https:' : 'http:') + '//static.duoshuo.com/embed.unstable.js';
  		ds.charset = 'UTF-8';
  		(document.getElementsByTagName('head')[0]
  		 || document.getElementsByTagName('body')[0]).appendChild(ds);
  	})();
  	</script>
  <!-- 多说公共JS代码 end -->
</section>
<% } %>
